<%= render 'flash' %>

<% content_for :title, "Notes" %>

<%= link_to "New note", new_note_path, class: 'btn btn-primary' %>
<br/>
<br/>

<table class="table table-bordered">
  <tbody>
    <% @notes.each do |note| %>
      <%= render note %>
    <% end %>
  </tbody>

  </table>

