<p style="color: green"><%= notice %></p>

<% content_for :title, "Notes" %>

<h1>Notes</h1>

<table class="table table-bordered">
  <tbody>
    <% @notes.each do |note| %>
      <%= render note %>
    <% end %>
  </tbody>

  </table>

<%= link_to "New note", new_note_path, class: 'btn btn-primary' %>
